
        
        h2, h1, h3 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(153, 153, 255);
        }
        div {
  width: 800px;
        }
img {
  float: left;
}
